/* Styles for the sidebar */
.sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #1c724d;
    padding: 10px;
    border-right: 1px solid #ccc;
  }
  
  /* Styles for the chat button */
  #openChatBtn {
    display: block;
    background-color: #1c724d;
    color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  /* Adjustments for main content */
  .content {
    margin-left: 150px; /* Adjust to match the width of the sidebar */
  }
  